.icon {
  color: #ca8a04;
  font-size: 30px;
}

.icons {
  font-size: 30px;
}

.contact {
  padding-top: 150px;
}

/* @media screen and (max-width: 500px) {
  .contact {
    padding-top: 500px;
    padding-bottom: 700px;
  }
} */
